
package tutionaire;

import frame1.*;

public class Tutionaire {

    public static void main(String[] args) {
              Frame1 f1=new Frame1();
    }
}
package frame1;

import java.awt.event.ActionEvent;
import java.awt.event.ActionListener;
import java.awt.event.WindowAdapter;
import java.awt.event.WindowEvent;
import javax.swing.JButton;
import frame2.*;
import javax.swing.JFrame;

public class Frame1 extends JFrame implements ActionListener{
      JButton b1=new JButton("Student Login");
      JButton b2=new JButton("Teacher Login");
      boolean status;
          
      public Frame1(){
          b1.setBounds(150,100,200,50);
          b2.setBounds(150,200,200,50);
          setSize(500,500);
          setVisible(true);
          setLayout(null);
          add(b1);
          add(b2);
          b1.addActionListener(this);
          b2.addActionListener(this);
          addWindowListener(new WindowAdapter(){
            public void windowClosing(WindowEvent we){
                System.exit(0);
            }
        });
      }
      public void actionPerformed(ActionEvent e){
          if(e.getSource().equals(b1)){
              status=true;
          }
          else if(e.getSource().equals(b2)){
              status=false;
          }
          Frame2 f2=new Frame2();
      }
  }

package frame2;

import java.awt.event.ActionEvent;
import java.awt.event.ActionListener;
import java.awt.event.WindowAdapter;
import java.awt.event.WindowEvent;
import javax.swing.JButton;
import javax.swing.JLabel;
import javax.swing.JTextField;
import frame3.*; 
import javax.swing.JFrame;

public class Frame2 extends JFrame implements ActionListener{
      JLabel l1=new JLabel("username");
      JLabel l2=new JLabel("password");
      JTextField tf1=new JTextField();
      JTextField tf2=new JTextField(); 
      JButton b2=new JButton(" forgot password?");
      JButton b1=new JButton("NEW USER");
      JButton b3=new JButton("Login");
      public Frame2(){
              l1.setBounds(150,100,200,50);
              l2.setBounds(150,150,200,50);
              tf1.setBounds(250,120,130,20);
              tf2.setBounds(250,170,130,20);
          b2.setBounds(300,270,150,30);
          b1.setBounds(80,270,150,30);
          b3.setBounds(225,220,80,30);
          setSize(500,500);
          setVisible(true);
          setLayout(null);
          add(l1);
          add(l2);
          add(tf1);
          add(tf2);
          add(b1);
          add(b2);
          add(b3);
          b1.addActionListener(this);
          
         
      }
      @Override
      public void actionPerformed(ActionEvent e){
         if(e.getSource().equals(b1)){
              Frame3 f3=new Frame3();
         }
        
      }
}

package frame3;

import java.awt.event.ActionEvent;
import java.awt.event.ActionListener;
import java.awt.event.WindowAdapter;
import java.awt.event.WindowEvent;
import javax.swing.JButton;
import javax.swing.JFrame;
import javax.swing.JLabel;
import javax.swing.JTextField;
import sendMail.*;

public class Frame3 extends JFrame implements ActionListener{
      generateOtp g=new generateOtp();
      JLabel l1=new JLabel("email id");
      JLabel l2=new JLabel("password");
      JLabel l3=new JLabel("confirm password");
      JLabel l4=new JLabel("Enter OTP");
      JLabel l5=new JLabel("You are now a member of TUTIONAIRE");
      JTextField tf1=new JTextField();
      JTextField tf2=new JTextField(); 
      JTextField tf3=new JTextField();
      JTextField tf4=new JTextField();      
      JButton b2=new JButton(" Submit");
      JButton b1=new JButton("Sent OTP");
      
          
      public Frame3(){
          l1.setBounds(150,100,200,50);
          l2.setBounds(150,150,200,50);
          l3.setBounds(120,200,200,50);
          l4.setBounds(150,300,200,50);
          tf1.setBounds(250,120,130,20);
          l5.setBounds(150,400,300,50);
          tf2.setBounds(250,170,130,20);
          tf3.setBounds(250,220,130,20);
          tf4.setBounds(250,320,130,20);
          b1.setBounds(200,250,100,30);
          b2.setBounds(200,350,100,30);
          
          setSize(500,500);
          setVisible(true);
          setLayout(null);
          add(l1);
          add(l2);
          add(l3);
          add(l4);
          add(tf1);
          add(tf2);
          add(tf3);
          add(tf4);
          add(b1);
          add(b2);
          b1.addActionListener(this);
          b2.addActionListener(this);
          
      }
      @Override
      public void actionPerformed(ActionEvent e){
          Mail m=new Mail();
          String OTP=g.generator();
          if(e.getSource().equals(b1)){
              String[] userMail={tf1.getText()};
              m.sendFromGMail("smg3397","encyclopedias",userMail,"OTP",OTP);
          }
          else if(e.getSource().equals(b2)){
              if(OTP.equals(tf4.getText())){
                  System.out.println("working....");
                  add(l5);
                  setVisible(true);
              }
              else{
                  
              }
          }
      }
}
package sendMail;

import java.util.*;
import javax.mail.*;
import javax.mail.internet.*;

 public class Mail {

public void sendFromGMail(String from, String pass, String[] to, String subject, String body) {
    Properties props = System.getProperties();
  String host = "smtp.gmail.com";

    props.put("mail.smtp.starttls.enable", "true");

    props.put("mail.smtp.ssl.trust", host);
    props.put("mail.smtp.user", from);
    props.put("mail.smtp.password", pass);
    props.put("mail.smtp.port", "587");
    props.put("mail.smtp.auth", "true");


    Session session = Session.getDefaultInstance(props);
    MimeMessage message = new MimeMessage(session);

    try {


        message.setFrom(new InternetAddress(from));
        InternetAddress[] combo = new InternetAddress[to.length];

        // To get the array of addresses
        for( int i = 0; i < to.length; i++ ) {
            combo[i] = new InternetAddress(to[i]);
        }

        for( int i = 0; i < combo.length; i++) {
            message.addRecipient(Message.RecipientType.TO, combo[i]);
        }



        message.setSubject(subject);
        message.setText(body);


        Transport transport = session.getTransport("smtp");


        transport.connect(host, from, pass);
        transport.sendMessage(message, message.getAllRecipients());
        transport.close();

    }
    catch (AddressException ae) {
        ae.printStackTrace();
    }
    catch (MessagingException me) {
        me.printStackTrace();
    }
    }
}

package sendMail;

import java.util.Random;

public class generateOtp {
     Random r=new Random();
     int rNum=1000+r.nextInt(10000-1000);
     
     public String generator(){
          return Integer.toString(rNum);
     }
}

